<nav class="navbar" style= "background-color: #ebca10";>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BINAR-FSW22</a>
        <div class="nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Register</a>
        </div>
    </div>
</nav>